name: Deploy to Dev

on:
  push:
    branches:
      - dev
      #- production

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          pull: true
          # no-cache: true
          tags: ${{ steps.login-ecr.outputs.registry }}/primakara/pemira:${{ github.ref_name }}

      - name: Deploy to dev
        if: github.ref == 'refs/heads/dev'
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEV_SSH_HOST }}
          username: ${{ secrets.DEV_SSH_USER }}
          key: ${{ secrets.DEV_SSH_KEY }}
          script: |
            cd /root/pemira/
            docker compose stop app
            docker compose rm -f -v app
            docker volume rm pemira_app_data || true
            docker compose pull
            docker compose up -d
            sleep 10
            #docker exec -i primakara_pemira_app rm -rf vendor
            #docker exec -i primakara_pemira_app composer install
            #docker exec -i primakara_pemira_app rm -rf node_modules
            #docker exec -i primakara_pemira_app npm install
            #docker exec -i primakara_pemira_app npm run build
            docker exec -i primakara_pemira_app php artisan migrate --force # fresh if needed
            docker exec -i primakara_pemira_app php artisan config:clear
            docker exec -i primakara_pemira_app php artisan cache:clear
            # docker exec -i primakara_pemira_app php artisan db:seed --force # if needed
